* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/backgroundPattern.png");
}

.title {
    color: rgb(234, 234, 234);
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    height: 35px;
    width: calc(51vw * 1200/800);
    margin: 20px auto;
}

.leftNav {
    float: left;
}

.rightNav {
    float: right;
}

.coin {
    width: 35px;
    height: auto;
    vertical-align: top;
    margin-top: 2px;
}

.screen {
    position: relative;
    border: #202020 10px double;
    border-radius: 10px;
    height: calc(51vw * 800/1200);
    width: calc(51vw * 1200/800);
    margin: 20px auto;
}

.map {
    position: absolute;
    width: inherit;
    height: inherit;
}

.icon {
    position: absolute;
    width: 10%;
    height: auto;
}

.icon:hover {
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

.rouletteIcon {
    left: 37%;
    top: 33%;
}

.cashierIcon {
    left: 80%;
    top: 42%;
}

.shopIcon {
    left: 63%;
    top: 36%;
}

.higherLowerIcon {
    left: 11%;
    top: 44%;
}

.return {
    position: absolute;
    width: 8%;
    height: auto;
    top: 84%;
    left: 1%
}

.return:hover {
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

.conathon {
    position: absolute;
    width: 26%;
    height: auto;
    top: 37%;
    left: 64%
}

.conathon:hover {
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

.cashierTable {
    position: absolute;
    width: 100%;
    height: auto;
    top: 72%;
    left: 0%
}

.textBubble {
    position: absolute;
    width: 48%;
    height: auto;
    top: 27%;
    left: 18.5%
}

.speech {
    position: absolute;
    top: 33%;
    left: 22%;
    z-index: 1;
    font-size: 130%;
    width: 37%;
}

hr {
    margin-top: 35px;
    border: 1px #202020 solid;
}

footer {
    margin-top: 10px;
    color: #202020;
    text-align: center;
}

.shopArrow {
    position: absolute;
    width: 10%;
    height: auto;
    top: 37%;
}

.shopArrow:hover {
    background-color: rgba(0, 255, 0, 0.2);
    cursor: pointer;
}

.shopLeft {
    left: 3%;
}

.shopRight {
    left: 87%;
}

.itemFrame {
    position: absolute;
    width: 25%;
    height: auto;
    top: 8%;
}

.itemOne {
    left: 13%;
}

.itemTwo {
    left: 37.5%;
}

.itemThree {
    left: 62%;
}

.shopButton {
    position: absolute;
    width: 19%;
    height: auto;
    top: 71%;
}

.shopButton:hover {
    cursor: pointer;
    scale: 105%;
}

.buttonOne {
    left: 16%;
}

.buttonTwo {
    left: 40.5%;
}

.buttonThree {
    left: 65%;
}

.shopButtonContainer {
    text-align: center;
    color: black;
}

.price {
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    top: 79%;
    left: 50%;
    color: rgb(255, 255, 255);
    font-size: 190%;
    pointer-events: none;
}

.priceOne {
    left: 25%;
}

.priceTwo {
    left: 50%;
}

.priceThree {
    left: 74%;
}

.coinShop {
        width: 35px;
        height: auto;
        vertical-align: top;
}

.rouletteButton {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rouletteButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.rouletteButtonContainer {
    top: 19.2%;
    left: 9.2%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, calc(50% / 13));
    grid-gap: 7% 0.787%;
    height: 40%;
}

.rouletteButtonContainerZeros {
    top: 19%;
    left: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 42%;
    width: 5.4%;
}

.zeros {
    height: 100%;
    width: 100%;
    margin-bottom: 20%;
}

/*background-color: #125500;*/